.signin {
    padding: 243px calc((100vw - 400px)/2);
}

.signin__form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.signin__input-label {
    background: rgba(11, 31, 53, 0.10);
    color: rgba(60, 60, 67, 0.66);
    border-radius: 8px 8px 0 0;
    font-size: 15px;
    line-height: 20px; 

    padding: 8px 12px 4px;
}

.signin__input-label:last-of-type {
    margin-top: 16px;
}

.signin__input {
    border: 0;
    padding: 0;
    border-radius: 0 0 8px 8px;
    background: rgba(11, 31, 53, 0.10);

    padding: 0 12px 8px;
    outline: none;
}

.signin__error {
    background: #FEEBEA;
    border-radius: 2px 0px 0px 2px;
    padding: 16px;
    border-left: 2px solid #F15045;

    margin: 0;
    margin-top: 10px;
}

.signin__error-hidden {
    display: none;
}

.signin__button {
    border: 0;
    padding: 0;

    border-radius: 12px;
    background: #06111E;
    color: white;

    font-size: 15px;
    font-weight: 700;
    line-height: 24px; 

    padding: 12px 0;
    margin-top: 16px;
}

.signin__button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.signin__button_inactive {
    background: #818181;
    color: rgb(228, 228, 228);
}

.signin__button.signin__button_inactive:hover {
    cursor: not-allowed;
    opacity: 1;
}

@media screen  and (max-width: 444px) {
    .signin {
        display: flex;
        justify-content: center;
    }
    
    .signin__form {
        width: calc(100vw - 44px);
    }
}
