.service-update {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: calc((100vw - 1022px)/2);
}

.service-update__back-button {
    width: 23px;
    height: 23px;
    position: absolute;

    left: -30px;
    border: 0;
    padding: 0;
    background-image: url(../../images/back.svg);
}

.service-update__back-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.service-update__form {
    max-width: 437px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.service-update__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

    margin: 0;
    margin-bottom: 28px;
}

.service-update__inputs-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.service-update__input {
    border: 0;
    padding: 0;
    border-radius: 8px;
    background: rgba(11, 31, 53, 0.10);

    padding: 14px 12px;
    font-size: 16px;
    line-height: 20px;
    outline: none;

    margin-bottom: 14px;
}

.service-update__response-field-container {
    display: flex;
    justify-content: space-between;
}

.service-update__response-choice {
    border: 0;
    background: transparent;
    outline: none;
}

.service-update__input-select {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 14px;

    margin-bottom: 14px;
}

.service-update__input-label {
    font-size: 14px;
    line-height: 18px;
    color: #0B1F35B2;
    margin-bottom: 4px;
}

.service-update__input_s {
    margin: 0;
}

.service-update__input_arrow {
    appearance: none;
    background: url('../../images/arrow.svg') no-repeat right;
    background-position-x: calc(100% - 12px);
    background-color: rgba(11, 31, 53, 0.10);
}

.service-update__inputs {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: calc((100% - 14px)/2) calc((100% - 14px)/2);
    column-gap: 14px;
    margin-bottom: 12px;
}

.service-update__input-fields {
    display: flex;
    flex-direction: column;
}

.service-update__add-button {
    width: 23px;
    height: 23px;
    background-image: url('../../images/add.svg');
    background-size: contain;
    background-repeat: no-repeat;

    padding: 0;
    border: 0;
}

.service-update__add-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.service-update__delete-button {
    padding: 0;
    border: 0;
    background: transparent;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin-bottom: 12px;
    align-self: flex-start;
}

.service-update__delete-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.service-update__buttons-container {
    margin-top: 14px;
}

.service-update__submit-button {
    margin: 0;
    padding: 0;
    border: 0;

    width: 121px;
    height: 45px;

    border-radius: 12px;
    background: #202022;
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}

.service-update__submit-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.service-update__submit-button_inactive {
    background: #818181;
    color: rgb(228, 228, 228);
}

.service-update__submit-button.service-update__submit-button_inactive:hover {
    cursor: not-allowed;
    opacity: 1;
}

.service-update__cancel-button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin-left: 18px;
}

.service-update__cancel-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.service-update__highlighting-container {
    position: relative;
    min-height: 178px;
}

@media screen and (max-width: 1080px) {
    .service-update {
        margin-left: 45px;
    }
}

@media screen and (max-width: 600px) {
    .service-update {
        margin-left: 22px;
    }

    .service-update__back-button {
        left: 0;
        top: -27px;
        width: 20px;
        height: 20px;
        background-size: contain;
    }
}

@media screen and (max-width: 481px) {
    .service-update {
        margin-right: 22px;
    }
}